.error {
    background-color: brown;
    width: 20rem;
 }
.error p {
    text-align: center;
    text-transform: uppercase;
    border-radius: .3rem;
    color: white;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    font-size: 14px;
}