.contenedor {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 45rem;
    align-items: center;
    justify-content: center;
}
.contenedor h3 {
    text-align: center;
    background-color: var(--combi1);
    color: white;
    text-transform: uppercase;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    padding: .8rem;
    width: 100%;
}
.cont_input {
    display: flex;
    flex-direction: column;
    padding: 1rem 10rem;
    
}
.cont_input label {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.cont_input input {
    all: unset;
    border-bottom: solid 1px var(--combi1);
    width: 30rem;
    margin: 0;
}
.contenedor button {
    all: unset;width: 20rem;
    background-color: var(--combi1);
    padding: .5rem;
    margin: 2rem;
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
    color: white;
    border-radius: .5rem;
}

