.contenedor {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
    align-items: center;
    justify-content: center;
    padding: 0;
    max-width: 500px;
}

.cont_form {
    padding: .5rem;
    width: 60%;
}
.contenedor h3 {
    text-align: center;
    background-color: var(--combi1);
    color: white;
    text-transform: uppercase;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    padding: .8rem;
    width: 100%;
}
.cont_input {
    display: flex;
    flex-direction: column;
}
.cont_input label {
    text-transform: uppercase;
    font-size: 16px;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
}
.cont_input input {
    all: unset;
    border-bottom: solid 1px var(--combi1);
    width: 100%;
    font-size: 15px;
}
.contenedor button {
    all: unset;
    width: 8rem;
    background-color: var(--combi1);
    padding: .3rem;
    margin: 2rem;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    border-radius: .5rem;
}

