.sidebar {
     background-color: var(--combi2);
     width: 100%;
     padding: 2rem;
}
@media (min-width:768px) {
    .sidebar {
     width: 35%;
     height: 100%;
}
}
@media (min-width:992px) {
    .sidebar {
    width: 30%;
    height: 100%;
 }
}
.sidebar h2 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    margin-top: 1.3rem;
   
}
.cont_enlaces {
    display: flex;
    flex-direction: column;
} 
.cont_enlaces a {
    background-color: var(--combi1);
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    text-align: center;
    font-size: 12px;
    border-radius: .3rem;
    padding: .3rem 0;
    margin: .5rem 0;
    transition-property: background-color;
    transition-duration: .3seg;
}@media(min-width:640px){
    .cont_enlaces  {
        margin-bottom: 23rem;
        padding: 1rem;
    }
}
.enlaces a:hover{
    cursor: pointer;
    background-color: var(--combi3);
    color: black;
}